<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="5.0">
  <display-name>Projet4</display-name>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateHero</display-name>
    <servlet-name>CreateHero</servlet-name>
    <servlet-class>servlets.CreateHero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateHero</servlet-name>
    <url-pattern>/createHero</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>CreateIncident</display-name>
    <servlet-name>CreateIncident</servlet-name>
    <servlet-class>servlets.CreateIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateIncident</servlet-name>
    <url-pattern>/createIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignHeroToIncident</display-name>
    <servlet-name>AssignHeroToIncident</servlet-name>
    <servlet-class>servlets.AssignHeroToIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignHeroToIncident</servlet-name>
    <url-pattern>/assignHeroToIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetIncident</display-name>
    <servlet-name>GetIncident</servlet-name>
    <servlet-class>servlets.GetIncident</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIncident</servlet-name>
    <url-pattern>/getIncident</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHeroIncidents</display-name>
    <servlet-name>GetHeroIncidents</servlet-name>
    <servlet-class>servlets.GetHeroIncidents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHeroIncidents</servlet-name>
    <url-pattern>/getHeroIncidents</url-pattern>
  </servlet-mapping>
</web-app>